<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About US</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>