<div class="container">
    <div class="row">
        <!-- 
            [componentItems]="containerItems"
            
            this is for sending information down from a smart container component to a 
            dumb presentation component 
        -->

        <!-- 
            (hello)="hiThereFromContainer($event)" 
            
            this is for sending information up from a dumb presentation component to a 
            smart container component -->

        <app-card-component 
        *ngFor="let item of containerItems;"
        [componentItem]="item" 
        (hello)="hiThereFromContainer($event)" 
        ></app-card-component>
    </div>
</div>
