<div class="container">
    <div id="carouselExampleControls" class="carousel slide my-4" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://dummyimage.com/600x280/000/fff.jpg&text=one" class="d-block w-100" alt="first picture">
        </div>
        <div class="carousel-item">
        <img src="https://dummyimage.com/600x280/000/fff.jpg&text=two" class="d-block w-100" alt="second picture">
        </div>
        <div class="carousel-item">
        <img src="https://dummyimage.com/600x280/000/fff.jpg&text=three" class="d-block w-100" alt="third picture">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

    <app-card-container></app-card-container>
</div>   
